<div class="container">
  <h1 data-scout-id="<%= @scout.id %>"><%= @scout.full_name %></h1>
  <div id="advancements" class="hero-unit">
    <h2>Advancements</h2>
    <div class="empty">Need to work on Advancements</div>
  </div>
  <div id="merit_badges" class="hero-unit">
    <h2>Merit Badges</h2>
    <!-- <div class="empty">Boo, no merit badges yet</div> -->
    <div class="empty">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>
            </th>
            <th>
              Name
            </th>
            <th>
              Progress
            </th>
          </tr>
        </thead>
        <tbody>
          <% @scout.merit_badges.each do |badge|%>
          <tr>
            <td>
              <% if badge.eagle_required == true %>
              <i class="icon-ok"></i>
              <% end %>
            </td>
            <td><%= badge.name %></td>
            <td>0</td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <a href="#" class="btn btn-success" id="add_merit_badge">Add</a>
  </div>
  <%= button_to 'Remove Scout', @scout, :method => :delete, :class => "btn btn-warning", data: { confirm: 'Are you sure?' }%>
</div>