<div class="container">
  <h1><%= @scout.full_name %></h1>
  <div id="advancements" class="hero-unit">
    <h2>Advancements</h2>
    <div class="empty">Need to work on Advancements</div>
  </div>
  <div id="merit_badges" class="hero-unit">
    <h2>Merit Badges</h2>
    <div class="empty">Boo, no merit badges yet</div>
  </div>
  <%= button_to 'Remove Scout', @scout, :method => :delete, :class => "btn btn-warning", data: { confirm: 'Are you sure?' }%>
</div>