<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Age</th>
    </tr>
  </thead>
  <tbody>
    <% @scouts.each do |scout| %>
    <tr>
      <td><%= scout.full_name %></td>
      <td><%= scout.age %></td>
    </tr>
    <% end %>
  </tbody>
</table>