<h1><%= @rank.name %></h1>
<table>
  <% @rank.requirements.each do |req| %>
  <tr>
      <td>
        <%= req.requirement %>
      </td>
  </tr>
  <% end %>

</table>
<% if @rank.type == "MeritBadge" %>
<%= button_to 'Delete Merit Badge', scout_advancement_path(@scout, @rank), :method => :delete, :class => "btn btn-warning", data: { confirm: 'Are you sure?' }%>
<% end %>